/*Variables*/
/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  font-family: "Roboto Slab", sans serif;
  font-weight: 100;
  line-height: 1.7;
  color: #222222;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 auto;
}

section {
  padding: 80px 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Roboto Slab", sans serif;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-color: #fed136;
  background-position: 100% 0;
  background-size: 250%;
  transition: all 1.2s;
}

.section-title {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "Roboto Slab", sans serif;
  font-size: 30px;
  font-weight: 900;
}

.section-subtitle {
  margin: 0 0 40px 0;
  text-align: center;
  font-family: "Romanesco", sans serif;
  color: #777777;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 3px;
}

/*Splash*/
.splash {
  height: 100vh;
  position: relative;
  background-image: url(/images/banner3.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-subtitle {
  font-family: "Romanesco", sans serif;
  color: #ffffff;
  font-size: 39px;
  margin: 0;
  padding-bottom: 20px;
  letter-spacing: 3px;
}

.page-title {
  font-family: "Roboto Slab", sans serif;
  color: #ffffff;
  font-size: 63px;
  margin: 0;
  padding-bottom: 20px;
}

.logo {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  color: #fed136;
  text-align: left;
  font-weight: 900;
  letter-spacing: 2px;
  padding-top: 50px;
}

.logo a {
  color: #fed136;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}

.menu a:hover {
  color: #fed136;
}

.menu a:focus {
  color: #e58e26;
}

.menu {
  text-align: right;
  font-size: 14px;
  padding-top: 66px;
}

.btn-one {
  border-color: #fed136;
  color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn-one:hover {
  background-position: 0 100%;
  color: #222222;
}

/*Services*/
.box i {
  font-size: 40px;
  width: 80px;
  height: 80px;
  line-height: 70px;
  color: #fed136;
  border-radius: 50%;
  border-color: #fed136;
  border: solid 3px;
  cursor: pointer;
}

.box i:hover {
  transition: all 1.2s;
  color: #535c68;
  background: #f6e58d;
  border-color: #f6e58d;
  opacity: 0.7;
}

.services-subtitle {
  text-align: center;
  font-family: "Roboto Slab", sans serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.box p {
  color: #777777;
}

/*Portfolio*/
.portfolio {
  background-color: #e7e7e7;
}

.box-portfolio {
  margin-bottom: 35px;
  cursor: pointer;
}

.portfolio-image {
  max-width: 600px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-right: 0;
  object-fit: cover;
  background-color: #ffffff;
}

.portfolio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 2s;
}

.portfolio-image img:hover {
  transform: scale(0.9, 0.9);
  filter: grayscale(85%) contrast(140%);
  opacity: 0.9;
}

.portfolio-description {
  bottom: 0;
  padding: 15px 0;
  background-color: #ffffff;
}

.box-portfolio p {
  color: #777777;
  font-size: 12px;
  font-style: italic;
}

.portfolio-description .services-subtitle:hover {
  color: #5B6A82;
  text-shadow: 1px 1px #F6C97B;
}

/*Footer*/
footer {
  padding: 40px 0;
  font-size: 10px;
  font-family: "Roboto Slab", sans serif;
  color: #777777;
}

.copyright p {
  padding-top: 23px;
}

.social-media ul {
  margin-bottom: 0;
  padding: 0;
}

.social-media li {
  font-size: 0px;
  margin: 5px;
}

.social-media i {
  font-size: 30px;
  color: #ffffff;
}

.social-media {
  padding: 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
}

.social-media .icons {
  -ms-flex: 1;
      flex: 1;
  display: inline-block;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  background: #777777;
}

.social-media .icons:hover {
  transform: scale(1.1);
  transition: all 1s;
  background: #5974A3;
}

/*Media query*/
@media (max-width: 425px) {
  .page-subtitle {
    font-size: 26px;
  }
  .page-title {
    font-size: 43px;
  }
  .btn {
    min-width: 100px;
    margin: 12px auto 0 auto;
    padding: 10px;
  }
}

@media (max-width: 991px) {
  section {
    padding: 40px 0;
  }
}

@media (max-width: 270px) {
  .page-subtitle {
    font-size: 16px;
  }
  .page-title {
    font-size: 23px;
  }
  .splash-inner {
    top: 70%;
  }
}

@media (max-height: 610px) {
  .page-subtitle {
    font-size: 26px;
  }
  .page-title {
    font-size: 43px;
  }
  .btn {
    min-width: 100px;
    margin: 12px auto 0 auto;
    padding: 10px;
  }
}

@media (max-height: 500px) {
  .page-subtitle {
    font-size: 20px;
  }
  .page-title {
    font-size: 38px;
  }
  .btn {
    min-width: 100px;
    margin: 12px auto 0 auto;
    padding: 10px;
  }
  .logo {
    padding-top: 12px;
  }
  .menu {
    padding-top: 10px;
  }
}

@media (max-width: 762px) {
  .logo {
    text-align: center;
  }
  .menu {
    text-align: center;
    padding-top: 16px;
  }
}
/*# sourceMappingURL=style.css.map */