/*Variables*/
$font-logo: 'Great Vibes', cursive;
$font-content: 'Roboto Slab', sans serif;
$font-subtitles: 'Romanesco', sans serif;
$color-text-dark: #222222;
$color-text-light: #777777;
$color-text-header: #ffffff;
$color-yellow: #fed136;
$transition: all 1.2s;


/*Global*/
*,*::before, *::after {
	box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  font-family: $font-content;
  font-weight: 100;
  line-height: 1.7;
  color: $color-text-dark;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 auto;
}
section {
    padding: 80px 0;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-content;
    color: $color-text-header;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: $color-yellow;
    background-position: 100% 0;
    background-size: 250%;
    transition: $transition;
}
.section-title {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: $font-content;
  font-size: 30px;
  font-weight: 900;
}
.section-subtitle {
  margin: 0 0 40px 0;
  text-align: center;
  font-family: $font-subtitles;
  color: $color-text-light;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 3px;
}


/*Splash*/
.splash {
    height: 100vh;
    position: relative;
    background-image: url(/images/banner3.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-subtitle {
  font-family: $font-subtitles;
  color: $color-text-header;
  font-size: 39px;
  margin: 0;
  padding-bottom: 20px;
  letter-spacing: 3px;
}
.page-title {
  font-family: $font-content;
  color: $color-text-header;
  font-size: 63px;
  margin: 0;
  padding-bottom: 20px;

}
.logo {
  font-family: $font-logo;
  font-size: 22px;
  color: $color-yellow;
  text-align: left;
  font-weight: 900;
  letter-spacing: 2px;
  padding-top: 50px;
}
.logo a {
  color: $color-yellow;
}
.menu {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        display: inline-block;
        margin-right: 36px;
        position: relative;
    }
    a {
    text-decoration: none;
    color: $color-text-header;
        &:hover {
            color: $color-yellow;
        }
        &:focus {
            color: #e58e26;
        }
    }
}
.menu {
  text-align: right;
  font-size: 12px;
  padding-top: 50px;
}
.btn-one {
    border-color: $color-yellow;
    color: $color-text-header;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}
.btn-one:hover {
    background-position: 0 100%;
    color: $color-text-dark;
}


/*Services*/
.box i {
    font-size: 40px;
    width: 80px;
    height: 80px;
    line-height: 70px;
    color: $color-yellow;
    border-radius: 50%;
    border-color: $color-yellow;
    border: solid 3px;
    cursor: pointer;
}
.box i:hover {
      transition: all 1.2s;
      color: #535c68;
      background: #f6e58d;
      border-color: #f6e58d;
      opacity: 0.7;
}
.services-subtitle {
  text-align: center;
  font-family: $font-content;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.box p {
  color: $color-text-light;
}


/*Portfolio*/
.portfolio {
  background-color: #e7e7e7;
}
.box-portfolio {
  margin-bottom: 35px;
  cursor: pointer;
}
.portfolio-image {
  max-width: 600px;
  justify-content: space-between;
  margin-right: 0;
  object-fit: cover;
  background-color: #ffffff;
}
.portfolio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 2s;
}
.portfolio-image img:hover {
  transform: scale(0.9, 0.9);
  filter: grayscale(85%) contrast(140%);
  opacity: 0.9;
}
.portfolio-description {
  bottom: 0;
  padding: 15px 0;
  background-color: #ffffff;
}
.box-portfolio p {
  color: $color-text-light;
  font-size: 12px;
  font-style: italic;
}
.portfolio-description .services-subtitle:hover {
	color: #5B6A82;
	text-shadow: 1px 1px #F6C97B;
}


/*Footer*/
footer {
  padding: 40px 0;
  font-size: 10px;
  font-family: $font-content;
  color: $color-text-light;
}
.copyright p {
  padding-top: 23px;
}
.social-media ul {
  margin-bottom: 0;
  padding: 0;
}
.social-media li {
    font-size: 0px;
    margin: 5px;
}
.social-media i {
    font-size: 30px;
    color: #ffffff;
}
.social-media {
    padding: 0 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
.social-media .icons {
    flex: 1;
    display: inline-block;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    line-height: 80px;
    text-align: center;
    color: #ffffff;
    background: $color-text-light;
}
.social-media .icons:hover {
	transform: scale(1.1);
	transition: all 1s;
	background: #5974A3;
}


/*Media query*/
@media (max-width: 425px) {
  .page-subtitle {
    font-size: 26px;
  }
  .page-title {
    font-size: 43px;
  }
  .btn {
      min-width: 100px;
      margin: 12px auto 0 auto;
      padding: 10px;
  }
}
@media (max-width: 991px) {
  section {
      padding: 40px 0;
  }
}
@media (max-width: 270px) {
  .page-subtitle {
    font-size: 16px;
  }
  .page-title {
    font-size: 23px;
  }
  .splash-inner {
    top: 70%;
  }
}
@media (max-height: 400px) {
  .page-subtitle {
    font-size: 26px;
  }
  .page-title {
    font-size: 43px;
  }
  .btn {
      min-width: 100px;
      margin: 12px auto 0 auto;
      padding: 10px;
  }
}
