/*Variables*/
$font-logo: 'Great Vibes', cursive;
$font-content: 'Roboto Slab', sans serif;
$font-subtitles: 'Romanesco', sans serif;
$color-text-dark: #222222;
$color-text-light: #777777;
$color-text-header: #ffffff;
$color-yellow: #fed136;
$transition: all 1.2s;


/*Global*/
*,*::before, *::after {
	box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  font-family: $font-content;
  font-weight: 100;
  line-height: 1.7;
  color: $color-text-dark;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 auto;
}
section {
    padding: 80px 0;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-content;
    color: $color-text-header;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: $color-yellow;
    background-position: 100% 0;
    background-size: 250%;
    transition: $transition;
}
.section-title {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: $font-content;
  font-size: 30px;
  font-weight: 900;
}
.section-subtitle {
  margin: 0 0 40px 0;
  text-align: center;
  font-family: $font-subtitles;
  color: $color-text-light;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
}


/*Splash*/
.splash {
    height: 100vh;
    position: relative;
    background-image: url(/images/banner.jpg);
    background-position: center center;
    background-size: cover;
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-subtitle {
  font-family: $font-subtitles;
  color: $color-text-header;
  font-size: 29px;
  margin: 0;
  line-height: 1.2;
}
.page-title {
  font-family: $font-content;
  color: $color-text-header;
  font-size: 53px;
  margin: 0;
  line-height: 1.2;
}
.logo {
  font-family: $font-logo;
  font-size: 15px;
  color: $color-yellow;
  text-align: left;
  font-weight: 900;
  letter-spacing: 2px;
  padding-top: 50px;
}
.menu {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    li {
        display: inline-block;
        margin-right: 36px;
        position: relative;
    }
    a {
    text-decoration: none;
    color: $color-text-header;
        &:hover {
            color: #ffcccc;
        }
        &:focus {
            color: #7efff5;
        }
    }
}
.menu {
  text-align: right;
  font-size: 10px;
  padding-top: 50px;
}
.btn-one {
    border-color: $color-yellow;
    color: $color-text-header;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}
.btn-one:hover {
    background-position: 0 100%;
    color: $color-text-dark;
}


/*Services*/
.box i {
    font-size: 40px;
    width: 80px;
    height: 80px;
    line-height: 70px;
    color: $color-yellow;
    border-radius: 50%;
    border-color: $color-yellow;
    border: solid 3px;
}
.services-subtitle {
  text-align: center;
  font-family: $font-content;
  font-size: 20px;
  font-weight: 700;
}
.box p {
  color: $color-text-light;
}
